<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Test BB</title>
	<link rel="stylesheet" href="css/base.css" />
</head>
<body>
	<section id="todoapp">
		<header id="header">
			<h1>Todos</h1>
			<input id="new-todo" name="new-todo" placeholder="I have to..." autofocus />
		</header>
		
		<section id="main">
			<input id="toggle-all" type="checkbox" />
			<label for="toggle-all">mark all as complete</label>
			<ul id="todo-list">
			</ul>
		</section>
		
		<footer id="footer"></footer>
		
	</section>
	
	<div id="info">
		<p>Double-click to edit a todo</p>
		<p>Written by <a href="https://github.com/addyosmani">Addy Osmani</a></p>
		<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
	</div>
	
	<script type="text/template" id="item-template">
		<div class="view">
			<input class="toggle" type="checkbox" <%= completed ? 'checked="checked"' : '' %>>
			<label><%- title %></label>
			<button class="destroy"></button>
		</div>
		<input class="edit" value="<%- title %>" />
	</script>
	
	<script type="text/template" id="stats-template">
		<span id="todo-count">
			<strong><%= remaining %></strong>
			<%= remaining === 1 ? 'item' : 'items' %> left
		</span>
		<ul id="filters">
			<li>
				<a class="selected" href="#/">All</a>
			</li>
			<li>
				<a href="#/active">Active</a>
			</li>
			<li>
				<a href="#/completed">Completed</a>
			</li>
		</ul>
		<% if (completed) { %>
			<button id="clear-completed">Clear completed (<%= completed %>)</button>
		<% } %>
	</script>

	<script src="js/lib/jquery.js"></script>
	<script src="js/lib/underscore.js"></script>
	<script src="js/lib/backbone.js"></script>
	<script src="js/lib/backbone.localStorage.js"></script>
	
	<script src="js/models/todo.js"></script>
	<script src="js/models/todoList.js"></script>
	
	<script src="js/views/todos.js"></script>
	<script src="js/views/app.js"></script>
	
	<script src="js/app/router.js"></script>
	<script src="js/app/app.js"></script>

</body>
</html>
