<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF8" />
	<meta http-equiv="X-UA-Compatible" value="IE=edge,chrome=1" />
	<title>Test BB</title>
</head>
<body>
	
	<div id="todo">
	</div>

	<script type="text/template" id="item-template">
		<div>
			<input type="checkbox" id="todo_complete" <%= completed ? 'checked="checked"' : '' %>>
			<%= title %>
		</div>
	</script>
	
	<script type="text/template" id="stats-template">
	</script>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="http://documentcloud.github.io/underscore/underscore-min.js"></script>
	<script src="http://documentcloud.github.io/backbone/backbone-min.js"></script>

	<script>
		
		var TodosView = Backbone.View.extend({
			tagName: 'ul',
			className: 'container',
			id: 'todos'
		});
		
		var TodoView = Backbone.View.extend({
			tagName: 'li'
			,
			todoTpl: _.template("Template di esempio")
			,
			events: {
				'click .toggle': 	'toggleCompleted',
				'dblclick label': 	'edit',
				'click .destroy':	'clear',
				'keypress .edit': 	'updateOnEnter',
				'blur .edit':		'close'
			}
			,
			initialize: function() {
				this.model.bind('change', _.bind(this.render, this));
			}
			,
			render: function() {
				this.$el.html( this.todoTpl( this.model.toJSON() ) );
				this.input = this.$('.edit');
				return this;
			}
			,
			edit: function() {
				console.log('edit called');
			}
			,
			close: function() {
				console.log('close called');
			}
			,
			updateOnEnter: function() {
				console.log('updateOnEnter called');
			}
		});
		
		var Todo = Backbone.Model.extend({
			defaults: {
				title: '',
				completed: false
			}
			,
			initialize: function() {
				console.log('Initting');
				
				this.on('change:title', function() {
					console.log('Titolo è cambiato');
				});
				
				this.on('change:completed', function() {
					console.log('Completed è cambiato');
				});
				
				this.on('invalid', function(model, error) {
					console.log(error);
				});
			}
			,
			validate: function(attrs) {
				if ( attrs.title === undefined ) {
					return '--- Titolo richiesto';
				}
			}
		});
		
		var TodosCollection = Backbone.Collection.extend({
			model: Todo
		});
		
		
		var TodoRouter = Backbone.Router.extend({
			routes: {
				"about": 				"showAbout",
				"todo/:id":				"getTodo",
				"todo/:id/edit":		"editTodo",
				"search/:query":		"searchTodos",
				"search/:query/p:page":	"searchTodos",
				"todos/:id/download/*documentPath":	"downloadDocument",
				"*other":				"defaultRoute"
			},
			showAbout: function() {
				
			},
			getTodo: function(id) {
				console.log('Trying to reach todo ' + id);
				this.navigate("todo/" + id + '/edit', {trigger: true});
			},
			editTodo: function(id) {
				console.log('Edit todo ' +id);
			},
			searchTodos: function(query, page) {
				var page_number = page || 1;
				console.log('Page ' +page_number+ ' of todos containing ' +query);
			},
			downloadDocument: function(id, path) {
				
			},
			defaultRoute: function(other) {
				console.log('Attempted to reach ' +other);
			}
		});
		
		var myRouter = new TodoRouter();
		Backbone.history.start();
		

		var todo1 = new Todo({title: 'test 1'});
		var todo2 = new Todo({title: 'test 2'});
		var todo3 = new Todo({title: 'test 3'});
		
		var todos = new TodosCollection([todo1, todo2, todo3]);
		
		console.log(todos.length);
		todos.forEach(function(model) {
			console.log(model);
		});
		
	</script>
</body>
</html>
