<div class="todo <%= done ? 'done' : '' %>">
	<div class="display">
		<input class="check" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
		<div class="todo-content"></div>
		<span class="todo-destroy"></span>
	</div>

	<div class="edit">
		<input class="todo-input" type="text" value="" />
	</div>
</div>
